* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #F5F5F5;
    color: #111;
    scroll-behavior: smooth;
}

/* NAVIGATION */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 100;
}
.lg{
    position: absolute;
    left: 20px;
    color: rgb(15, 152, 170);
}
nav a {
    margin-left: 50px;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover{
    color: #05c8eb;
}

/* HOME SECTION */
.section {
    padding: 120px 60px;
}

.home-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    
}

.about-btn {
  position: absolute;
  top: 200px;
  padding: 15px 40px;
  background: #05c8eb;          
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 0 2px 5px #05c8eb;
  transition: all 0.25s ease;
}

.about-btn:hover {
  transform: translateY(-2px);
}

.about-btn:active {
  transform: translateY(0);
}
.content {
    max-width: 100%;
    position: absolute;
    left: 580px;
    top: 540px;
}

.content h1 {
    font-size: 55px;
    margin-bottom: 10px;
    line-height: 1.1;
    font-weight: 760;
}

p {
    font-size: 18px;
    margin-top: 20px;
    line-height: 1.5;
    max-width: 800px;
}

.profile-wrapper {
    width: 290px;
    height: 290px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 220px;
    left: 820px;
    background: white;
    border: #05c8eb;
    border: 3px solid white;
}
.profile-wrapper:hover {
    transform: scale(1.2);
    border-color:#05c8eb;
    transition: 0.4s;
}

.profile-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Other sections style */
.about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 160vh;
}
.aboutsech2{
    font-size: 38px;
    text-align: center;
    color: #05c8eb;
    position: absolute;
    top: 1000px;
    left: 870px;
}
.line1{
    position: absolute;
    top: 1050px;
    left: 840px;
    width: 230px;
    height: 2px;
    background-color: black;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.lhanzzz{
    font-size: 38px;
    text-align: center;
    position: absolute;
    top: 1080px;
    left: 760px;
}
.p1-about{
    position: absolute;
    top: 1120px;
    left: 580px;
    font-size: 18px; 
    text-align: center;
    margin-bottom: 10px;
    line-height: 1.9;
}
.p2-skill{
    position: absolute;
    top: 1420px;
    left: 895px;
    font-size: 23px;
}
.logo2{
    width: 850px;
    height: 490px;
    position: absolute;
    left: 550px;
    top: 1500px;
    background-color: #FAFAFA;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 20px;
    border: 2px solid white;
}
.logo2:hover {
  border-color:#05c8eb;
  transform: scale(1.02); 
}
.html-img{
    position: absolute;
    top: 40px;
    left: 40px;
    width: 100px;
    height: 100px;
}
.css-img{
    position: absolute;
    top: 40px;
    left: 260px;
    width: 80px;
    height: 100px;
}
.js-img{
    position: absolute;
    top: 40px;
    left: 420px;
    width: 220px;
    height: 110px;
}
.php-img{
    position: absolute;
    top: 45px;
    left: 690px;
    width: 110px;
    height: 100px;
}
.word-img{
    position: absolute;
    top: 205px;
    left: 50px;
    width: 85px;
    height: 100px;
}
.excell-img{
    position: absolute;
    top: 205px;
    left: 260px;
    width: 85px;
    height: 100px;
}
.ppt-img{
    position: absolute;
    top: 205px;
    left: 490px;
    width: 75px;
    height: 93px;
}
.network-img{
    position: absolute;
    top: 205px;
    left: 695px;
    width: 105px;
    height: 100px;
}
.network{
    position: absolute;
    top: 275px;
    left: 700px;
}
.trouble-img{
    position: absolute;
    top: 345px;
    left: 360px;
    width: 115px;
    height: 130px;
}
.trouble{
    position: absolute;
    top: 445px;
    left: 340px;
}
.p3-project{
    position: absolute;
    top: 2010px;
    left: 910px;
    font-size: 25px;
}
.logo3{
    width: 300px;
    height: 340px;
    position: absolute;
    left: 630px;
    top: 2100px;
    background-color: #FAFAFA;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 10px;
    border-radius: 20px;
    border: 2px solid white;
}
.logo3:hover {
  border-color:#05c8eb;
  transform: scale(1.02); 
}
.deptrack{
    position: absolute;
    left: 60px;
    top: 50px;
}
.info{
    position: absolute;
    top: 190px;
    text-align: center;
}
.logo4{
    width: 300px;
    height: 340px;
    position: absolute;
    left: 1030px;
    top: 2100px;
    background-color: #FAFAFA;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 10px;
    border-radius: 20px;
    border: 2px solid white;
}
.logo4:hover {
  border-color:#05c8eb;
  transform: scale(1.02); 
}

.contact-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}
.line2{
    position: absolute;
    top: 2650px;
    left: 830px;
    width: 230px;
    height: 2px;
    background-color: black;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.contact{
    font-size: 38px;
    text-align: center;
    color: #05c8eb;
    position: absolute;
    top: 2600px;
    left: 870px;
}
.container1{
    width: 850px;
    height: 700px;
    position: absolute;
    left: 550px;
    top: 2700px;
    background-color: #FAFAFA;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 20px;
    border: 2px solid white;
}
.details{
    position: absolute;
    top: 20px;
    left: 40px;
    font-size: 27px;
}
.gmail-img{
    position: absolute;
    left: 160px;
    top: 150px;
    width: 60px;
    height: 60px;
}
.number-img{
    position: absolute;
    left: 160px;
    top: 310px;
    width: 60px;
    height: 60px;
}
.location-img{
    position: absolute;
    left: 160px;
    top: 470px;
    width: 60px;
    height: 60px;
}
.gmail{
    position: absolute;
    top: 135px;
    left: 270px;
}
.pnumber{
    position: absolute;
    top: 293px;
    left: 270px;
}
.loc{
    position: absolute;
    top: 450px;
    left: 270px;
}
.footer{
    width: 100%;
    height: 170px;
    background-color: #05c8eb;
}
.fb-img{
    position: absolute;
    left: 760px;
    top: 3485px;
    width: 50px;
    height: 50px;
}
.github-img{
    position: absolute;
    left: 920px;
    top: 3485px;
    width: 50px;
    height: 50px;
}
.mail-img{
    position: absolute;
    left: 1080px;
    top: 3487px;
    width: 50px;
    height: 50px;
}
.copy{
    position: absolute;
    left: 770px;
    top: 3535px;
    font-size: 16px;
}